# ----------------------------
# ROOT LEVEL IGNORE
# ----------------------------

# Node
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build outputs
dist/
build/

# Coverage
coverage/

# Hardhat
artifacts/
cache/

# Vite
frontend/dist/

# Misc
*.log